* {
    padding: 0;
    margin: 0;
    box-sizing: boarder-box;
}

body {
    background-image: url('../Images/backdrop.PNG');
    background-repeat: no-repeat;
    background-size:fill;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

main {
    /* background-color: snow; */
    width: 1000px;
}



h1 {
    border-bottom: 3px black solid;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2.4rem;

}
 
p {
    border: 3px black solid;
    background-color: snow;
    padding-left: 2.0rem;
    font-size: 1.3rem;
    margin-bottom: 1em;
    border-radius: 16px;

}
 
h4 {
    border: 3px black solid;
    background-color: snow;
    padding-left: 1.0rem;
    font-size: 1.3em;
    margin-right: 20rem;
    border-radius: 16px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
 
#Necron-Codex {
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(5, 94, 0);
    padding: 1.8rem;
    border: 3px black solid;
    border-radius: 16px;
}

#Apartment {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 170, 255);
    padding: 1.8rem;
}

#Charger {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 1.8rem;
}

#Registeel {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(66, 66, 66);
    padding: 1.8rem;
}

#Rhino_fire {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 140, 0);
    padding: 1.8rem;
}

#Steam_Deck {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    gap: 2.4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 1.8rem;
}

#codex-img {
    height: 480px;
    border-radius: 16px;
}

#pages {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    /* justify-content: space-around; */
    border: 3px black solid;
    border-radius: 16px;
    /* display: flex; */

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}