* {
    padding: 0;
    margin: 0;
    box-sizing: boarder-box;
}

body {
    background-image: url('../Images/backdrop.PNG');
    background-repeat: no-repeat;
    background-size:fill;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: snow;
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
}

h1 {
    border-bottom: 3px black solid;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2.4rem;

}
 
p {
    border: 3px black solid;
    background-color: snow;
    padding-left: 2.0rem;
    padding-right: 5em;
    font-size: 1.3rem;
    margin-bottom: 1em;
    /* margin-right: 20rem; */
    border-radius: 16px;

}

main-div {    
    gap: 2.4rem;
    justify-content: space-around;
    background-color: snow;
    padding: 1.8rem;
    border: 3px black solid;
    border-radius: 16px;
    margin: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    
}

td {
	background-color: rgb(200, 200, 200);
}
	
table {
    justify-content: space-around;
    display: flex;
}

#pages {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(248, 186, 189); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    /* justify-content: space-around; */
    border: 3px black solid;
    border-radius: 16px;
    /* display: flex; */

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#survey {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    margin-left: 10rem;
    gap: 2.4rem;
    /* display: flex;
    justify-content: space-around; */
    background-color: snow;
    padding: 1.8rem;
    width: 40%;

    /* div {
        padding-left: 20rem;
    } */
    
}

footer {
    bottom: 0;
    left: 0;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
}

#vacation {
    border: 3px black solid;
    border-radius: 16px;
    margin-top: 5rem;
    margin-left: 10rem;
    gap: 2.4rem;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: snow;
    padding: 1.8rem;
    width: 65%;
    
}

#me {
        gap: 2.4rem;
    justify-content: space-around;
    background-color: snow;
    padding: 1.8rem;
    border: 3px black solid;
    border-radius: 16px;
    margin: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

#fav {
        gap: 2.4rem;
    justify-content: space-around;
    background-color: snow;
    padding: 1.8rem;
    border: 3px black solid;
    border-radius: 16px;
    margin: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
}